div.photobucket { background-color: #ebebeb;
	height: 720px;
	width: 600px;
	padding-top: 30px;
	border: 1px solid gray;
	float: left;
	margin-left: 588px

}
div.photo { float: right;
	padding: 20px;}